<h1> Temlate Driven Form </h1>

<form #loginForm="ngForm" (ngSubmit)=userLogin(loginForm.value)>
  <input type="text" required #name="ngModel" name="name" placeholder="Enter your name" ngModel> <br>
  <span *ngIf="name.invalid && name.touched" style="color: red;"> Please ente a valid name.</span>
  <br><br>
  <input type="text" required pattern="[a-zA-Z]+$" email #email="ngModel" name="email" placeholder="Enter your email" ngModel> <br>
  <span *ngIf=" email.invalid && email.touched" style="color: red;"> Please enter a valid email.</span>
  <br><br>
  <input type="text" required minlength="5"  #password="ngModel" name="password" placeholder="Enter your password" ngModel> <br>
  <span *ngIf="password.invalid && password.touched" style="color: red;"> Please enter your password</span>
  <br><br>
  <button [disabled]="loginForm.invalid"> Submit </button>
</form>
