<app-header></app-header>
<app-pipes></app-pipes>
<app-login [item]= "data"></app-login>
<button (click)="upChild()"> Lets Update Child Component </button>
<br><br> 
<ul *ngFor="let user of userDetails">
  <app-user-details [item]="user"> </app-user-details>
</ul>
<br><br>
<h1> {{ crot }}</h1>
<br><br>
<app-child (updateDataEvent)="updateData($event)"></app-child>


<br><br>
<input type="text" #box2>

<button (click)="getVal(box2.value)"> Call Function</button>
<mat-slider min="1" max="100" step="1" value="1" > Welcome </mat-slider>
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <br><br>
  <input type="text" ngModel name="user" placeholder="Enter User Name: " />
  <br> <br>
  <input type="email" ngModel name="email" placeholder="Enter User Email: " />
  <br><br>
  <input type="password" ngModel name="password" placeholder="Enter User Password: " />
  <br><br>
  <button> Register </button>
</form>


<mat-slider min="1" max="100" step="1" value="1" ></mat-slider>

<ul>
  <li>
    <h4>{{udata.user}}</h4>
    <h4>{{udata.email}}</h4>
    <h4>{{udata.password}}</h4>
  </li>
</ul>

<button #toggle (click)="togle()"> Toggle </button>
<h1 *ngIf="display"> Heading Tag</h1>

<button type="button" class="btn btn-primary">
  Notifications <span class="badge bg-secondary">4</span>
</button>

<span class="badge bg-primary">Primary</span>
<span class="badge bg-secondary">Secondary</span>
<span class="badge bg-success">Success</span>
<span class="badge bg-danger">Danger</span>
<span class="badge bg-warning text-dark">Warning</span>
<span class="badge bg-info text-dark">Info</span>
<span class="badge bg-light text-dark">Light</span>
<span class="badge bg-dark">Dark</span>
<app-login></app-login>

<div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>